@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<style>
    body {
        background-image: url('https://media-exp1.licdn.com/dms/image/C4D1BAQGcAVCBfHf4xQ/company-background_10000/0?e=2159024400&v=beta&t=6Mqude0HFqaQFr21LB49vBXrALdiG0YiwUYzbAmRqZY');
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-size: cover;
    }
</style>


<!DOCTYPE html>
<html>
<style>
    body, html {
        height: 100%;
        margin: 0;
    }

    .font {
        color: white;
        font-family: "Century Gothic"; 
        font-size: 25px;
        font-weight: bold;
    }



    .topleft {
        position: absolute;
        top: 10px;
        left: 22px;
    }

    .topright {
        position: absolute;
        top: 10px;
        right: 22px;
    }

    .bottomleft {
        position: absolute;
        bottom: 0;
        left: 16px;
    }

    

    .middle {
        position: absolute;
        top: 15%;
        left: 50%;
        transform: translate(-50%, -50%);
        text-align: center;
    }

    hr {
        margin: auto;
        width: 40%;
    }

    .fontmiddle {
        color: white;
        font-family: "Century Gothic";
        font-size: 45px;
        font-weight: bold;
    }

    h1 {
        font-size: 55px;
    }

    .loginbtn {
  width: auto;
  padding: 10px 18px;
  background-color: #6acbfb;
  border-radius: 8px;
    }

    .signupbtn {
        width: auto;
        padding: 10px 18px;
        background-color: #6acbfb;
        border-radius: 8px;
    }

</style>
<body>

    <div class="font">
        <div class="topleft">
            <a href="http://localhost:51241/Log-In"><button type="button" class="loginbtn">Log-In</button></a>
        </div>

        <div class="topright">
            <a href="http://localhost:51241/Sign-Up"><button type="button" class="signupbtn">Sign-Up</button></a>
        </div>


    </div>

    <div class="fontmiddle">
        <div class="middle">
            <h1>Welcome to the Avondale College Teacher Directory</h1>
            <hr>
        </div>
    </div>

</body>
</html>
