@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<style>
    body {
        background-image: url('https://media-exp1.licdn.com/dms/image/C4D1BAQGcAVCBfHf4xQ/company-background_10000/0?e=2159024400&v=beta&t=6Mqude0HFqaQFr21LB49vBXrALdiG0YiwUYzbAmRqZY');
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-size: cover;
    }
</style>


<!DOCTYPE html>
<html>
<style>
    body, html {
        height: 100%;
        margin: 0;
    }

    .font {
        
        color: white;
        font-family: "Courier New", Courier, monospace;
        font-size: 25px;
        font-weight: bold;
    }



    .topleft {
        position: absolute;
        top: 0;
        left: 16px;
    }

    .topright {
        position: absolute;
        top: 0;
        right: 16px;
    }

    .bottomleft {
        position: absolute;
        bottom: 0;
        left: 16px;
    }

    .middle {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        text-align: center;
    }

    hr {
        margin: auto;
        width: 40%;
    }
</style>
<body>

    <div class="font">
        <div class="topleft">
            <a href="file:///C:/Users/malha/Desktop/School/ICT/Log%20In"><p>Log-In</p></a>
        </div>

        <div class="topright">
            <a href="file:///C:/Users/malha/Desktop/School/ICT/Sign%20Up"><p>Sign-Up</p></a>
        </div>
    
        <div class="middle">
            <h1>Welcome to the Avondale College Teacher Directory</h1>
            <hr>
         </div>
    </div>
    
        
</body>
</html>
